@import 'about-festival';
@import 'about-unit9';
@import 'about-location';


@import 'compass/css3/transform';
@import 'compass/typography/lists/horizontal-list';


.view.about {

  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  .content {
    position: absolute;
    top: 200px;
    left: 80px;
    margin-bottom: 80px;

    @include mobile {
      top: 140px;
      left: 30px;
      right: 30px;
      margin-bottom: 30px;
    }

    @include tablet {
      left: 50px;
      right: 50px;
      margin-bottom: 50px;
    }
  }

  .about-menu {
    @include horizontal-list;

    margin-top: 14px;
    margin-bottom: 50px;

    @include mobile {
      margin-top: 14px;
      margin-bottom: 60px;
    }

    li {
      margin: 5px 10px 5px 0;
      padding-left: 0;
      padding-right: 8px;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    a {
      color: $color-white;
      text-decoration: none;
      text-transform: uppercase;

      &.active {
        color: $color-cyan;
        text-decoration: underline;
      }
    }
  }

  .uiview {
    position: absolute;
    margin-top: 11px;
    margin-bottom: 50px;
    width: 630px;


    @include mobile {
      width: auto;
      margin-bottom: 30px;
    }

    @include tablet {
      width: auto;
      margin-bottom: 50px;
    }
  }

}
