.subview.about.festival {

  .heading {
    margin-bottom: 30px;
  }

  .location {
    color: $color-cyan;
    margin-top: 30px;
  }

  .patronage {
    margin-top: 30px;
  }

  a {
    color: $color-cyan;
  }

}
