@import 'compass/css3/transform';


.view.contact {

  .p-title.desktop {
    bottom: 90px;
    position: absolute;
    right: 570px;
  }

  .copy {
    bottom: 90px;
    position: absolute;
    right: 90px;
    text-align: right;

    @include mobile {
      @include translate(-50%, -50%);
      bottom: auto;
      left: 50%;
      right: auto;
      top: 50%;
      margin-top: 40px;
    }

    .p-title {
      margin-bottom: 22px;
    }

  }

  .social {

    a {
      display: inline-block;
      margin: 15px 10px;
    }

  }

  .address {
    margin-top: 22px;
  }

  .downloads {

    margin-top: 108px;

    @include mobile {
      margin-top: 40px;
    }

    a {
      display: block;
      text-transform: uppercase;
    }
  }

  a {
    color: $color-cyan;
  }

}
