.subview.contest.rules {

  .heading {
    span {
      color: $color-cyan;
    }
  }

  .body {
    margin-top: 38px;
    column-count: 2;
    column-gap: 30px;

    @include mobile {
      column-count: 1;
    }

    a {
      color: $color-cyan;
    }
  }

}
