@import 'compass/css3/transition';


.subview.contest.apply {

  .body {
    margin-top: 36px;
  }

  .form {
    @include transition-duration(0.5s);
    @include transition-property(opacity);

    margin-top: 62px;
    opacity: 0.5;

    &.invalid-email {

      .input-email {
        border: 1px solid $color-light-purple;
      }

    }

    &.invalid-accept {

      .state {
        border: 1px solid $color-light-purple;
      }

    }

    &.enabled {
      opacity: 1;
    }
  }

  .input-email {
    $placeholder-color: $color-cyan;

    width: 316px;
    height: 36px;
    background: none;
    border: 1px solid $color-cyan;
    color: $color-cyan;
    font-size: 18px;
    padding: 0 12px;
    text-transform: uppercase;
    border-radius: 0;
    box-sizing: border-box;
    font-family: 'Geomanist Regular';

    @include mobile {
      width: 100%;
      display: block;
    }

    &:focus {
      outline: 0;
    }

    &::placeholder {
      color: $placeholder-color;
      opacity: 1;
    }

    &::input-placeholder {
      color: $placeholder-color;
    }

    &:placeholder {
      color: $placeholder-color;
      opacity: 1;
    }

    &:input-placeholder {
      color: $placeholder-color;
    }

  }

  .button-submit {
    width: 124px;
    height: 36px;
    background: none;
    border: 1px solid $color-cyan;
    color: $color-cyan;
    font-size: 18px;
    padding: 0 12px;
    text-transform: uppercase;
    margin-left: 16px;
    font-family: 'Geomanist Regular';

    @include mobile {
      width: 100%;
      display: block;
      margin-left: 0;
      margin-top: 12px;
    }
  }

  .checkbox {

    margin-top: 24px;

    .checkbox-component {
      display: inline-block;
    }

    .copy {
      position: relative;
      top: -2px;
      display: inline;
      margin-left: 12px;
    }

    a {
      color: $color-cyan;
    }

  }

  .confirmation {
    @include transition-duration(0.5s);
    @include transition-property(opacity visibility);

    position: absolute;
    color: $color-cyan;
    visibility: hidden;
    opacity: 0;
    margin-top: 62px;

    &.shown {
      visibility: visible;
      opacity: 1;
    }
  }

}
