@import 'compass/css3/transform';

.view.landing {

  .content {
    bottom: 356px;
    left: 85px;
    position: absolute;

    @include mobile {
      @include scale(.45, .45);
      left: 50%;
      margin-left: -596px * .5 * .45;
      margin-top: -224px * .5 * .45;
      top: 50%;
    }

    @include tablet {
      bottom: 300px;
      left: 40px;
    }
  }

  *[logo] {
    position: absolute;
  }

  .info {

    font-size: $font-size-normal;
    left: 555px;
    position: absolute;
    text-transform: uppercase;
    top: 175px;
    width: 400px;

    @include mobile {
      left: 133px;
      text-align: right;
      top: 210px;
    };

    @include tablet {
      left: 133px;
      text-align: right;
      top: 210px;
    };

    .location {
      margin-left: 10px;
    }
  }

  .enter {
    width: 200px;
    height: 34px;
    margin-left: -100px;
    position: absolute;
    left: 50%;
    bottom: 100px;
    background: none;
    border: 1px solid $color-cyan;
    padding: 5px 10px;
    color: $color-cyan;
    box-sizing: border-box;
    text-transform: uppercase;

    @include tablet {
      bottom: 340px;
    }
  }

}
