$group-item-width: 150px;
$group-item-height: 100px;
$group-columns: 3;
$group-gutter: 40px;
$group-grid-gutter: 20px;
$group-width: $group-columns * ($group-item-width + $group-grid-gutter);

$group-columns-tablet: 2;
$group-width-tablet: $group-columns-tablet * ($group-item-width + $group-grid-gutter);

$group-columns-mobile: 1;
$group-width-mobile: $group-columns-mobile * ($group-item-width + $group-grid-gutter);

.view.partners {

  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  .content {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 80px;
    text-align: center;
  }

  .partners-group {
    display: inline-block;
    width: $group-width;
    margin: 30px $group-gutter/2 0 $group-gutter/2;
    vertical-align: top;

    &--centered {
      margin: 0 $group-width/2+$group-gutter;

      .partners-group__grid {
        text-align: center;

        &__item {
          margin: 10px 40px;
        }

      }
    }

    &--sponsors {
      margin-top: 0;
    }

    &__title {
      display: inline-block;
      width: inherit;
      margin-bottom: 20px;
      text-align: center;
      color: $color-cyan;
      text-transform: uppercase;
    }

    &__grid {
      display: inline-block;
      width: inherit;
      height: auto;

      &__item {
        display: inline-block;
        width: $group-item-width;
        height: $group-item-height;
        margin: $group-grid-gutter/2;

        &__asset {
          position: relative;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

      }

    }

    @include mobile {
      width: $group-width-mobile;
      margin: 30px $group-width-mobile/2+$group-gutter;

      &--centered {
        margin: 30px $group-width-mobile/2+$group-gutter;

        .partners-group__grid__item {
          margin: 10px;
        }

      }
    }

    @include tablet {
      width: $group-width-tablet;

      &--centered {
        width: $group-width;
        margin: 30px $group-width/2+$group-gutter;
      }
    }

  }

}
