// Views.
@import 'landing';
@import 'about';
@import 'contest';
@import 'programme';
@import 'partners';
@import 'contact';

$transition-duration: .3s;

.view {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: $z-view;
}

[ui-view] {

  will-change: transform, opacity;
  opacity: 1;
  transform: translate(0, 0);

  &.ng-enter,
  &.ng-leave {
    transition-property: opacity, transform;
    transition-duration: $transition-duration, $transition-duration;
    transition-timing-function: ease-out, ease-out;
    backface-visibility: hidden;
  }

  &.ng-enter {

    &.ng-enter-active {
      opacity: 1;
    }

    opacity: 0;
    transition-delay: $transition-duration, $transition-duration;
  }

  &.ng-leave {

    &.ng-leave-active {
      opacity: 0;
    }

    opacity: 1;
  }
}

.top-level-view {

  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  position: absolute;

// TODO: uncomment this when implementing a view pager
//  will-change: transform, opacity;
//  opacity: 1;
//  transform: translate(0, 0);

//  &.ng-enter,
//  &.ng-leave {
//    transition-property: opacity, transform;
//    transition-duration: 1s, 1s;
//    transition-timing-function: ease-out, ease-out;
//    backface-visibility: hidden;
//  }
//
//  &.ng-enter {
//    opacity: 0;
//    transition-delay: 1s;
//    &.ng-enter-active {
//      opacity: 1;
//    }
//  }
//
//  &.ng-leave {
//    opacity: 1;
//    .ng-leave-active {
//      opacity: 0;
//    }
//  }
//
//  .transition-forward & {
//
//    &.ng-enter.ng-enter-active {
//      opacity: 1;
//      transform: translate(0, 0);
//    }
//
//    &.ng-enter {
//      opacity: 0;
//      transform: translate(100%, 0);
//    }
//
//    &.ng-leave.ng-leave-active {
//      opacity: 0;
//      transform: translate(-100%, 0);
//    }
//
//    &.ng-leave {
//      opacity: 1;
//      transform: translate(0, 0);
//    }
//  }
//
//  .transition-backward & {
//
//    &.ng-enter.ng-enter-active {
//      opacity: 1;
//      transform: translate(0, 0);
//    }
//
//    &.ng-enter {
//      opacity: 0;
//      transform: translate(-100%, 0);
//    }
//
//    &.ng-leave.ng-leave-active {
//      opacity: 0;
//      transform: translate(100%, 0);
//    }
//
//    &.ng-leave {
//      opacity: 1;
//      transform: translate(0, 0);
//    }
//  }

}
