@import 'base/base';
@import 'partials/partials';
@import 'views/views';

body {
  background-color: $color-purple;
  color: $color-white;
  font-family: 'Geomanist Regular';
  -webkit-font-smoothing: antialiased;
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

::selection {
  background: #a6ffe8;
}

:focus {
  outline: 0;
}
