//
// * @author Maciej Zasada maciej@unit9.com
//

@import 'compass/css3/images';

// BEGIN SETTINGS SECTION
$dir-sprite: '';  // relative to compass's images configuration. Usually blank.
$dir-list: '/../../images/';  // begin with a forward-slash (/), relative to list-files.rb.
$dir-image: '/images/'; // for some reason images get different root path.
$asset: 'asset';
$sprite: 'sprite';
$image: 'image';
$desktop: 'desktop';
$tablet: 'tablet';
$mobile: 'mobile';
$x1: '1x';
$x2: '2x';

$packages-sprite: 'essential', 'main';

$platforms: $desktop, $tablet, $mobile;
$resolutions: $x1, $x2;
$provide-types: $image, $sprite;
$default-to: $sprite;   // $sprite or $image
// END SETTINGS SECTION

// now, generate!
@import 'generate-assets';
