//
// * @author Maciej Zasada <maciej@unit9.com>
//

$phablet-width: 601px;
$tablet-width: 641px;
$desktop-width: 1025px;
$large-width: 1824px;

@mixin mobile {

  @media only screen and (max-width: $tablet-width - 1px) {

    @content;

  }

}

@mixin phablet {

  @media only screen and (min-width: $phablet-width) and (max-width: $desktop-width - 1px) {

    @content;

  }

}

@mixin tablet {

  @media only screen and (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {

    @content;

  }

}

@mixin desktop {

  @media only screen and (min-width: $desktop-width) {

    @content;

  }

}

@mixin desktop-tablet {

  @media only screen and (min-width: $tablet-width) {

    @content;

  }

}

@mixin large {

  @media only screen and (min-width : $large-width) {

    @content;

  }

}

@mixin retina {

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dppx) {

    @content;

  }

}

@mixin portrait {
  @media only screen and (orientation: portrait) {
    @content;
  }
}

@mixin landscape {
  @media only screen and (orientation: landscape) {
    @content;
  }
}

.mobile,
.tablet,
.desktop,
.large,
.display-normal,
.display-retina {

  display: none;

}

@include mobile {

  .mobile {

    display: block;

  }

}

@include tablet {

  .tablet {

    display: block;

  }

}

@include desktop {

  .desktop {

    display: block;

  }

}

@include large {

  .large {

    display: block;

  }

}

.display-normal {

  display: block;

}

@include retina {

  .display-retina {

    display: block;

  }

  .display-normal {

    display: none;

  }

}
