@import 'colors';

$font-size-huge: 46px;
$font-size-verybig: 30px;
$font-size-big: 25px;
$font-size-semi-big: 23px;
$font-size-normal: 20px;
$font-size-medium: 16px;
$font-size-small: 10px;
$fonts-path: 'fonts/';

.p-heading {
  color: $color-white;
  font-family: 'Geomanist Regular';
  font-size: 18px;
  line-height: 22px;
  white-space: pre-wrap;
}

.p-body {
  color: $color-white;
  font-family: 'Geomanist Regular';
  font-size: 14px;
  line-height: 22px;
  white-space: pre-wrap;

  b {
    font-weight: bold;
  }
}

.p-link {
  color: $color-white;
  font-family: 'Geomanist Regular';
  font-size: 18px;
  line-height: 22px;
  white-space: pre-wrap;
}

.p-title {
  color: $color-white;
  font-family: 'Geomanist Regular';
  font-size: 64px;
  text-transform: uppercase;

  @include mobile {
    font-size: 36px;
    letter-spacing: 2px;
  }
}

@font-face {
  font-family: 'ClearSans Regular';
  src: url($fonts-path + 'ClearSans-Regular-webfont.eot');
  src: url($fonts-path + 'ClearSans-Regular-webfont.woff') format('woff'), url($fonts-path + 'ClearSans-Regular-webfont.ttf') format('truetype'), url($fonts-path + 'ClearSans-Regular-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ClearSans Bold';
  src: url($fonts-path + 'ClearSans-Bold-webfont.eot');
  src: url($fonts-path + 'ClearSans-Bold-webfont.woff') format('woff'), url($fonts-path + 'ClearSans-Bold-webfont.ttf') format('truetype'), url($fonts-path + 'ClearSans-Bold-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'ClearSans Bold Italic';
  src: url($fonts-path + 'ClearSans-BoldItalic-webfont.eot');
  src: url($fonts-path + 'ClearSans-BoldItalic-webfont.woff') format('woff'), url($fonts-path + 'ClearSans-BoldItalic-webfont.ttf') format('truetype'), url($fonts-path + 'ClearSans-BoldItalic-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Geomanist Regular';
  src: url($fonts-path + 'geomanist-regular-webfont.eot');
  src: url($fonts-path + 'geomanist-regular-webfont.woff') format('woff'), url($fonts-path + 'geomanist-regular-webfont.ttf') format('truetype'), url($fonts-path + 'geomanist-regular-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
