@mixin disable-select {
  user-select: none;
  outline: none;
}

@mixin column-count($count) {
  column-count: $count;
}

@mixin horizontal-list-even() {
  ul {
    display: table;
    width: 100%;

    li {
      display: table-cell;
      text-align: center;

      a {
        display: block;
      }
    }
  }
}

.superscript {
  vertical-align: super;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
  margin: 0;
  outline: none;
  padding: 0;
}

@mixin ie-radial-gradient($start-gradient) {
  filter: unquote("progid:DXImageTransform.Microsoft.gradient(startColorstr='#ea2e2b', endColorstr='#00ffffff',GradientType=1)");
}
