*[language-selector] {

  font-family: 'ClearSans Bold';
  font-size: 16px;
  letter-spacing: 2px;
  position: absolute;
  right: 50px;
  top: 50px;

  color: $color-cyan;

  @include mobile {
    right: 30px;
    top: 30px;
  }

  a {
    cursor: pointer;

    &.active {
      display: none;
    }
  }
}
