@import 'compass/css3/transition';


*[logo] {

  &.small {
    @include transition-duration(0.5s);
    @include transition-property(opacity visibility);

    position: absolute;
    left: 50%;
    top: 50px;
    transform: scale(0.25, 0.25);
    margin-left: -75px;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;

    @include mobile {
      top: 30px;
    }

    &.shown {
      opacity: 1;
      visibility: visible;
    }
  }

  .unit9vr {
    position: absolute;
  }

  .challenge {
    left: 149px;
    position: absolute;
    top: 38px;
  }

  .date {
    left: 449px;
    position: absolute;
    top: 167px;
  }
}
