$toggle-margin: 20px;
$toggle-width: 65px;
$toggle-height: 60px;
$bar-thickness: 8px;

$toggle-margin-sm: 0;
$toggle-width-sm: 45px;
$toggle-height-sm: 45px;
$bar-thickness-sm: 6px;

$bg-margin: 20px;

$toggle-pad: 10px;
$toggle-trans-delay: .3s;

$menu-item-stagger: .05s;
$menu-item-number: 10;

.menu {

  position: absolute;
  top: 0;
  left: 0;
  z-index: $z-menu;

  &--open {

    height: 100vh;

    @include mobile {
      width: 100vw;
    }

    .menu__list {
      display: block;

      &__link {
        opacity: 1.0;

        @for $i from 1 through $menu-item-number {
          &:nth-child(#{$i}) {
            transition-delay: $menu-item-stagger * ($menu-item-number - $i) + $toggle-trans-delay;
          }
        }

        &--active {
          opacity: 0.35;
          cursor: pointer;
        }

      }

    }

    .menu__background {
      opacity: 1;
      transform: scale(1);
    }

    .menu__toggle--active {
      opacity: 1;
    }

    .menu__toggle__line {
      background: none !important;

      &::before,
      &::after {
        transition-delay: 0, $toggle-trans-delay;

      }

      &::before {
        top: 0;
        transform: rotate(45deg);
      }

      &::after {
        bottom: 0;
        transform: rotate(-45deg);
      }
    }

  }

  &__toggle {

    position: absolute;
    left: $toggle-margin + $bg-margin;
    top: $toggle-margin + $bg-margin;
    width: $toggle-width;
    height: $toggle-height;

    z-index: $z-menu-content;

    transition-property: opacity, background;
    transition-duration: $toggle-trans-delay, $toggle-trans-delay;

    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-size: 0;
    text-indent: -9999px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    border-radius: 0;
    border: 0;
    cursor: pointer;

    @include mobile {
      left: $toggle-margin-sm + $bg-margin;
      top: $toggle-margin-sm + $bg-margin;
      height: $toggle-height-sm;
      width: $toggle-width-sm;
    }

    &--active {
      opacity: 0.0;

      .menu__toggle__line {

        background-color: $color-purple;

        &::before,
        &::after {
          background-color: $color-purple;
        }
      }

    }

    &__line {

      display: block;
      position: absolute;
      top: ($toggle-height / 2) - ($bar-thickness / 2);
      left: $toggle-pad;
      right: $toggle-pad;
      height: $bar-thickness;
      background-color: $color-cyan;
      transition: background 0 $toggle-trans-delay;

      &::before,
      &::after {
        position: absolute;
        display: block;
        left: 0;
        width: 100%;
        height: $bar-thickness;
        background-color: $color-cyan;

        content: '';

        transition-duration: $toggle-trans-delay, $toggle-trans-delay;
        transition-delay: $toggle-trans-delay, 0;
      }

      &::before {
        top: -(($toggle-height / 2) - ($bar-thickness / 2) - $toggle-pad);
        transition-property: top, transform;
      }

      &::after {
        bottom: -(($toggle-height / 2) - ($bar-thickness / 2) - $toggle-pad);
        transition-property: bottom, transform;
      }

      @include mobile {
        top: ($toggle-height-sm / 2) - ($bar-thickness-sm / 2);
        height: $bar-thickness-sm;

        &::before,
        &::after {
          height: $bar-thickness-sm;
        }

        &::before {
          top: -(($toggle-height-sm / 2) - ($bar-thickness-sm / 2) - $toggle-pad);
        }

        &::after {
          bottom: -(($toggle-height-sm / 2) - ($bar-thickness-sm / 2) - $toggle-pad);
        }
      }

    }
  }

  &__list {
    position: absolute;
    width: 500px;
    margin: 120px 0 0 75px;
    text-transform: uppercase;
    font-family: 'Geomanist Regular';
    text-align: left;
    display: none;
    z-index: $z-menu-content;

    @include mobile {
      width: 200px;
      margin:  80px 0 0 60px;
    }

    &__link {

      display: inline-block;
      margin-bottom: 20px;
      width: inherit;

      color: $color-purple;
      font-size: $font-size-huge;
      text-decoration: none;

      cursor: pointer;

      opacity: 0.0;
      transition-property: opacity;
      transition-duration: $toggle-trans-delay;
      transition-timing-function: linear;


      @for $i from 1 through $menu-item-number {
        &:nth-child(#{$i}) {
          transition-delay: $menu-item-stagger * $i + $toggle-trans-delay;
        }
      }

      @include mobile {
        font-size: $font-size-big;
      }

    }
  }

  &__background {

    background: $color-cyan;
    position: absolute;
    left: $bg-margin;
    top: $bg-margin;
    height: calc(100% - #{$bg-margin * 2});
    width: calc(50% - #{$bg-margin * 2});
    min-width: 500px;
    opacity: 0;
    transform: scale(0);
    transform-origin: 0 0;

    transition-property: transform, opacity;
    transition-duration: $toggle-trans-delay, $toggle-trans-delay;

    @include mobile {
      width: calc(100% - #{$bg-margin * 2});
      min-width: 0;
    }

  }

}
