@import 'compass/css3/transition';
@import 'compass/css3/transform';


*[vrc-checkbox] {

  $width: 16px;
  $height: 16px;

  width: $width;
  height: $height;
  cursor: pointer;

  .vrc-checkbox {

    &.checked {

      .state.off {
        display: none;
      }

      .state.on {
        @include scale(1, 1);
        visibility: visible;
        opacity: 1;
      }

    }

    .state {
      position: absolute;
      width: $width;
      height: $height;
      border: 1px solid $color-cyan;

      &.on {
        @include transition-property(opacity visibility transform);
        @include transition-duration(0.2s);

        @include scale(0, 0);
        visibility: hidden;
        opacity: 0;
        background-color: $color-cyan;
      }

    }

  }

}
