@import 'compass/css3/transition';
@import 'compass/css3/transform';


*[vrc-message-box] {

  .content {
    @include transition-duration(0.5s);
    @include transition-property(opacity visibility);

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;
    opacity: 0;
    visibility: hidden;

    &.open {
      opacity: 1;
      visibility: visible;
    }
  }

  .dimmer {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
  }

  .box {
    @include translate(-50%, -50%);

    position: absolute;
    left: 50%;
    top: 50%;
    width: 600px;
    background-color: $color-cyan;
    color: $color-black;
    padding: 40px;

    @include mobile {
      width: 400px;
    }
  }

  .close {
    @include translate(-50%, 0);

    position: relative;
    left: 50%;
    margin-top: 44px;
    background: none;
    padding: 5px 10px;
    border: 1px solid $color-black;
    color: $color-black;
    box-sizing: border-box;
    text-transform: uppercase;

    &:hover {
      background-color: $color-black;
      border: 1px solid $color-black;
      color: $color-cyan;
    }
  }

}
