<nav class="language">
  <ul>
    <li ng-repeat="language in languageSelector.languages">
      <a ng-click="selectLanguage(language.code)"
        ng-class="{active: language.code == languageSelector.current}"
        >
        {{ language.name }}
      </a>
    </li>
  </ul>
</nav>
