<div class="menu" ng-class="{'menu--open': isOpen}">


  <div class="menu__toggle">
    <div class="menu__toggle__line"></div>
  </div>
  <div class="menu__toggle menu__toggle--active" ng-click="toggle()">
    <div class="menu__toggle__line"></div>
  </div>

  <nav class="menu__list">
    <a ng-repeat="state in menu.states"
      class="menu__list__link"
      ui-sref="{{ state.name }}"
      ng-class="{'menu__list__link--active': isActiveState(state.name)}"
      ng-click="close()"
      >
      {{ 'menu.' + state.name | translate }}
    </a>
  </nav>

  <div class="menu__background"></div>

</div>
