<div class="content" ng-class="{ 'open': messageBox.isOpen }">

  <aside class="dimmer"></aside>

  <section class="box">

    <p class="copy">
      {{ 'confirmation.contestant' | translate }}
    </p>

    <button class="close" ng-click="close()">
      {{ 'confirmation.closeCta' | translate }}
    </button>

  </section>

</div>
