<section class="view about">

  <section class="content">

    <p class="p-title">{{ 'about.title' | translate }}</p>

    <nav class="about-menu">
      <ul>
        <li><a ui-sref="about.festival" ui-sref-active="active">{{ 'about.menuFestival' | translate }}</a></li>
        <li><a ui-sref="about.unit9" ui-sref-active="active">{{ 'about.menuUnit9' | translate }}</a></li>
        <li><a ui-sref="about.location" ui-sref-active="active">{{ 'about.menuLocation' | translate }}</a></li>
      </ul>
    </nav>

    <div ui-view="about" class="uiview"></div>

  </section>

</section>
