<section class="subview about location">
  <p class="p-heading body">{{ 'aboutLocation.body' | translate }}</p>
  <p class="p-body info" ng-bind-html="'aboutLocation.info' | translate | trust"></p>
</section>
