<section class="subview about festival">
  <p class="p-heading heading">{{ 'aboutFestival.heading' | translate }}</p>
  <p class="p-body body" ng-bind-html="'aboutFestival.body' | translate"></p>
  <p class="p-heading location">{{ 'aboutFestival.location' | translate }}</p>
  <p class="p-heading patronage">{{ 'aboutFestival.patronage' | translate }}</p>
</section>
