<section class="subview about unit9">
  <p class="p-heading heading" ng-bind-html="'aboutUnit9.heading' | translate"></p>
  <p class="p-body body" ng-bind-html="'aboutUnit9.body' | translate"></p>
</section>
