<section class="subview contest prizes">
  <p class="p-heading heading" ng-bind-html="'contestPrizes.heading' | translate"></p>
  <p class="p-body body" ng-bind-html="'contestPrizes.body' | translate"></p>
</section>
