<section class="subview contest apply" ng-init="init()">

  <p class="p-heading heading" ng-bind-html="'contestApply.heading' | translate"></p>
  <p class="p-body body" ng-bind-html="'contestApply.body' | translate"></p>

  <section class="form"
    ng-class="{'invalid-email': user.invalidEmail, 'invalid-accept': user.invalidAccept, 'enabled': !user.formSending}"
    >

    <input class="input-email" type="email" placeholder="{{ 'contestApply.emailInputPlaceholder' | translate }}" ng-model="user.email" />
    <button class="button-submit" ng-click="submit($event)">{{ 'contestApply.submitCta' | translate }}</button>
    <section class="checkbox">
      <div class="checkbox-component" vrc-checkbox checked="user.regulationsAccepted"></div>
      <p class="p-body copy" ng-bind-html="'contestApply.regulationsAcknowledgement' | translate"></p>
    </section>

  </section>

  <p class="p-headline confirmation" ng-class="{ 'shown': user.formSent }">
    {{ 'contestApply.confirmation' | translate }}
  </p>

</section>
