<section class="view contest">

  <section class="content">

    <p class="p-title">{{ 'contest.title' | translate }}</p>

    <nav class="contest-menu">
      <ul>
        <li><a ui-sref="contest.rules" ui-sref-active="active">{{ 'contest.menuRules' | translate }}</a></li>
        <li><a ui-sref="contest.prizes" ui-sref-active="active">{{ 'contest.menuPrizes' | translate }}</a></li>
        <li><a ui-sref="contest.apply" ui-sref-active="active">{{ 'contest.menuApply' | translate }}</a></li>
        <li><a ui-sref="contest.works" ui-sref-active="active">{{ 'contest.menuWorks' | translate }}</a></li>
        <li><a ui-sref="contest.jury" ui-sref-active="active">{{ 'contest.menuJury' | translate }}</a></li>
      </ul>
    </nav>

    <div ui-view="contest" class="uiview"></div>

  </section>

</section>
