<section class="view contact">

  <section class="content">

    <p class="p-title desktop">{{ 'contact.title' | translate }}</p>

    <article class="copy">

      <p class="p-title tablet mobile">{{ 'contact.title' | translate }}</p>

      <section class="social">
        <a class="asset _icon-facebook" href="http://fb.com/vrchallenge" target="_blank"></a>
        <a class="asset _icon-twitter" href="https://twitter.com/vrchallenge" target="_blank"></a>
        <!-- <a class="asset _icon-pinterest" href="https://pinterest.com" target="_blank"></a> -->
      </section>

      <p class="p-body email"><a ng-href="mailto:{{contact.emailMain}}">{{ 'contact.emailMain' | translate }}</a></p>
      <p class="p-body email"><a ng-href="mailto:{{contact.emailPress}}">{{ 'contact.emailPress' | translate }}</a></p>
      <p class="p-body phone">{{ 'contact.phone' | translate }}</p>
      <p class="p-body address">{{ 'contact.address' | translate }}</p>

      <section class="downloads">
        <a class="p-link" href="/documents/presskit_UNIT9_VR_Challenge_2015_pl.pdf" target="_blank">{{ 'contact.downloadPl' | translate }}</a>
        <a class="p-link" href="/documents/presskit_UNIT9_VR_Challenge_2015_en.pdf" target="_blank">{{ 'contact.downloadEn' | translate }}</a>
      </section>

    </article>

  </section>

</section>
