<section class="subview contest rules">
  <p class="p-heading heading" ng-bind-html="'contestRules.heading' | translate"></p>
  <p class="p-body body" ng-bind-html="'contestRules.body' | translate"></p>
</section>
