<section class="view landing">

  <section class="content">

    <div logo></div>

    <p class="info">

      <span class="date">{{ 'landing.date' | translate }}</span>
      <span class="location">{{ 'landing.location' | translate }}</span>

    </p>

  </section>

  <button class="enter p-heading" ng-click="highlightMenu()">{{ 'landing.enter' | translate }}</button>

</section>
