<section class="view partners">

  <section class="content">

    <div class="partners-group partners-group--centered">
      <div class="partners-group__title">{{'partners.honour' | translate}}</div>
      <div class="partners-group__grid">
        <div class="partners-group__grid__item" ng-repeat="p in partners.honour">
          <a ng-if="p != null" href="{{p.url}}" target="_blank" class="partners-group__grid__item__asset asset {{ p.name | partnerClass : 'h' }}"></a>
          <div ng-if="p.url == null" class="partners-group__grid__item__asset asset {{ p | partnerClass : 'h' }}"></div>
        </div>
      </div>
    </div>

    <div class="partners-group">
      <div class="partners-group__title">{{'partners.partners' | translate}}</div>
      <div class="partners-group__grid">
        <div class="partners-group__grid__item" ng-repeat="p in partners.partners">
          <a ng-if="p != null" href="{{p.url}}" target="_blank" class="partners-group__grid__item__asset asset {{ p.name | partnerClass : 'p' }}"></a>
          <div ng-if="p.url == null" class="partners-group__grid__item__asset asset {{ p | partnerClass : 'p' }}"></div>
        </div>
      </div>
    </div>

    <div class="partners-group">
      <div class="partners-group__title">{{'partners.media' | translate}}</div>
      <div class="partners-group__grid">
        <div class="partners-group__grid__item" ng-repeat="p in partners.media">
          <a ng-if="p != null" href="{{p.url}}" target="_blank" class="partners-group__grid__item__asset asset {{ p.name | partnerClass : 'm' }}"></a>
          <div ng-if="p.url == null" class="partners-group__grid__item__asset asset {{ p | partnerClass : 'm' }}"></div>
        </div>
      </div>
    </div>

    <div class="partners-group partners-group--sponsors">
      <div class="partners-group__title">{{'partners.sponsors' | translate}}</div>
      <div class="partners-group__grid">
        <div class="partners-group__grid__item" ng-repeat="p in partners.sponsors">
          <a ng-if="p != null" href="{{p.url}}" target="_blank" class="partners-group__grid__item__asset asset {{ p.name | partnerClass : 's' }}"></a>
          <div ng-if="p.url == null" class="partners-group__grid__item__asset asset {{ p | partnerClass : 's' }}"></div>
        </div>
      </div>
    </div>
    <!--<p class="p-title">{{ 'partners.title' | translate }}</p>-->

    <!-- <nav class="partners-menu">
      <ul>
        <li><a ui-sref="partners.contest" ui-sref-active="active">{{ 'partners.menuContest' | translate }}</a></li>
      </ul>
    </nav> -->

    <!-- <div ui-view="partners" class="uiview"></div> -->

    <!--<p class="p-heading placeholder" ng-bind-html="'partners.placeholder' | translate"></p>-->

  </section>

</section>
