<section class="view programme">

  <section class="content">

    <p class="p-title">{{ 'programme.title' | translate }}</p>

    <!-- <nav class="programme-menu">
      <ul>
        <li><a ui-sref="programme.contest" ui-sref-active="active">{{ 'programme.menuContest' | translate }}</a></li>
      </ul>
    </nav> -->

    <!-- <div ui-view="programme" class="uiview"></div> -->

    <p class="p-heading placeholder" ng-bind-html="'programme.placeholder' | translate"></p>

  </section>

</section>
